<!-- <form class="example-form" *ngIf=rowData>
    <mat-form-field  [style.margin-right]="'32px'"  [style.margin-left]="'32px'" class="example-full-width" *ngFor="let entry of (rowData | keys)">
      <input matInput  [disabled]="entry.key!='NAME' ? true : null" (change) = onchangeEventRowData(entry.key,$event.target.value) [placeholder]=entry.key [value]="entry.key!='searchText' ? entry.value : ''">
    </mat-form-field>
    <button mat-raised-button color=geprimary [style.margin-right]="'24px'"  [style.margin-left]="'24px'"  [mat-dialog-close]="rowData" cdkFocusInitial>DONE</button>
    <button mat-raised-button color=gewarn [style.margin-right]="'24px'"  [style.margin-left]="'24px'" (click)="onNoClick()">CANCEL</button>
  </form>
   -->