<div class="col-3">
  <form [formGroup]="form">
    <mat-form-field [style.width]="widthStyle">
      <input type="text" matInput [placeholder]="placeholder" formControlName="value" required [matAutocomplete]="autoGroup" [disabled]="disabledParam"
      />
      <mat-autocomplete #autoGroup="matAutocomplete" (optionSelected)="onOptionSelected($event)" (optionSelected)="onObjectSelected(anyObject,placeholder)" >
        <mat-option *ngFor="let option of displayedOptions" [value]="option" [disabled]="disabledParam">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
