.customReset {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    background-color: #F7F7F2;
    height: 100%;
    flex: 1 1 auto;
  }

  .example-card {
    /* padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px; */
    max-width: 400px;
    background-color: #F7F7F2;
    margin: 0 auto;
    margin-top: 100px;  
  }
  
  .example-header-image {
    background-size: cover;
  }

  .full-width-input {
    width: 100%;
  }

  .header-card{
    flex: auto;
  }
.dummy{
  width: 100%;
  height: 1000px;
  background-color: #efefee;
  text-align: center;
  padding-top: 100px;
  overflow-y: hidden; 
}
  