<h1 mat-dialog-title>Hi </h1>
<div mat-dialog-content>
  <p>Please Take An Action On The Record You Selected</p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color=Basic (click)="onNoClick()">NO THANKS</button>
  <button mat-raised-button color=gewarn [mat-dialog-close]="'1'" cdkFocusInitial>VIEW</button>
  <button mat-raised-button color=gewarn [mat-dialog-close]="'2'" cdkFocusInitial>DELETE</button>
  <button mat-raised-button color=geprimary [mat-dialog-close]="'3'" cdkFocusInitial>PUBLISH</button>
  <button mat-raised-button color=gewarn [mat-dialog-close]="'4'" cdkFocusInitial>VIEW PPT</button>
</div>

