  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span><button routerLink="/" mat-button>Growth Enabler</button></span>
      <span><button [matMenuTriggerFor]="appMenu" mat-button>Report</button></span>
      <mat-menu #appMenu="matMenu">
        <ng-template matMenuContent>
          <button  routerLink="infocus-report" mat-menu-item>Infocus Report</button>
          <button routingLink="/" mat-menu-item>Tech Report</button>
        </ng-template>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
  