<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <button routerLink="/" mat-button>Growth Enabler</button>
    </span>
    <span>
      <button [matMenuTriggerFor]="appMenu" mat-button>Report</button>
    </span>
    <span>
      <button [matMenuTriggerFor]="masterTables" mat-button>Master Tables</button>
    </span>
    <mat-menu #appMenu="matMenu">
      <ng-template matMenuContent>
        <button [matMenuTriggerFor]="infocusMenu" mat-menu-item>Infocus Report</button>
        <button [matMenuTriggerFor]="techMenu" mat-menu-item>Tech Report</button>
      </ng-template>
    </mat-menu>
    <mat-menu #infocusMenu="matMenu">
      <button [matMenuTriggerFor]="infocusTemplates" mat-menu-item>Infocus Templates</button>
      <button routerLink="infocus-report/submit" mat-menu-item>Submit Report</button>
      <button routerLink="infocus-report/view" mat-menu-item>View and Generate</button>
    </mat-menu>
    <mat-menu #infocusTemplates="matMenu">
      <button routerLink="infocus-report/templateone" mat-menu-item>Infocus Template 1</button>
      <button routerLink="infocus-report/template14322" mat-menu-item>Infocus Template 2</button>
    </mat-menu>
    <mat-menu #techMenu="matMenu">
      <button routerLink="/" mat-menu-item>Submit Report</button>
      <button routerLink="/" mat-menu-item>View and Generate</button>
    </mat-menu>
    <mat-menu #masterTables="matMenu">
      <button routerLink="master-tables/business-solutions" mat-menu-item>Business Solutions</button>
      <button [matMenuTriggerFor]="technologies" mat-menu-item>Technology</button>
      
    </mat-menu>
    <mat-menu #technologies="matMenu">
        <button routerLink="master-tables/horizontal-technology" mat-menu-item>Technologies</button>
        <button routerLink="master-tables/sub-technologies" mat-menu-item>Sub Technologies</button>
    </mat-menu>




  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
