<form class="example-form" *ngIf=rowData>
  <mat-form-field [style.margin-right]="'32px'" [style.margin-left]="'32px'" class="example-full-width" *ngFor="let entry of (rowData | keys)">
    <!-- <input matInput  [disabled]="listOfElementsToDisable.indexOf(entry.key)>-1" (change) = onchangeEventRowData(entry.key,$event.target.value) [placeholder]=entry.key> -->
    <input matInput  *ngIf="listOfElementsToDisable.indexOf(entry.key)<0" (change) = onchangeEventRowData(entry.key,$event.target.value) [placeholder]=entry.key>
  </mat-form-field>
  <button class="button-custom" mat-raised-button color=geprimary [mat-dialog-close]="rowData" cdkFocusInitial>Done</button>
  <button class="button-custom" mat-raised-button color=gewarn  (click)="onNoClick()">Cancel</button>
</form>
