<form class="example-form" [style.overflow-y]="'scroll'" *ngIf=rowData>
  <mat-grid-list cols="6" rowHeight="100px">
    <mat-grid-tile [colspan]=3 [rowspan]=1>
      <mat-form-field [style.margin-right]="'32px'" [style.margin-left]="'32px'" class="example-full-width">
        <input matInput [disabled]="true" [placeholder]="'ID'" [value]="rowData['ID']">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=3 [rowspan]=1>
      <mat-form-field  [style.margin-right]="'32px'" [style.margin-left]="'32px'" class="example-full-width">
        <input matInput [style.width]= "'240px'" [placeholder]="'BUSINESS PRIORITY'" [value]="rowData['BUSINESS PRIORITY']" (change)="onchangeEventRowData('BUSINESS PRIORITY',$event.target.value)">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <div mat-dialog-actions align="end">
    <button mat-button color=gepalewhite (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color=geprimary [mat-dialog-close]="rowData" cdkFocusInitial>Done</button>
  </div>
</form>
