<form class="example-form" [style.overflow-y]="'scroll'" *ngIf=rowData>
  <mat-form-field [style.margin-right]="'32px'" [style.margin-left]="'32px'" class="example-full-width">
    <input matInput [placeholder]="'ROLE'" [value]="rowData['ROLE']" (change)="onchangeEventRowData('ROLE',$event.target.value)">
  </mat-form-field>
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]=1 [rowspan]=1>
      <app-solution-priority-association-dummy-select [style.margin-right]="'32px'" [style.margin-left]="'32px'" [placeholder]="'INDUSTRY'" [options]="rowData['ALL INDUSTRIES']"
         (optionSelected)="changeIndustries('INDUSTRY',$event)"></app-solution-priority-association-dummy-select>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=1>
      <app-solution-priority-association-dummy-select [disabledParam]="industrySubSegment1DisableParam" [style.margin-right]="'32px'" [style.margin-left]="'32px'"
        [placeholder]="'INDUSTRY SEGMENT 1'" [options]="rowData['ALL SUB INDUSTRIES 1']"
        (optionSelected)="changeIndustriesSubSegment1('INDUSTRY SEGMENT 1',$event)"></app-solution-priority-association-dummy-select>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=1>
      <app-solution-priority-association-dummy-select [disabledParam]="industrySubSegment2DisableParam" [style.margin-right]="'32px'" [style.margin-left]="'32px'"
        [placeholder]="'INDUSTRY SEGMENT 2'" [options]="rowData['ALL SUB INDUSTRIES 2']" 
        (optionSelected)="changeIndustriesSubSegment2('INDUSTRY SEGMENT 2',$event)"></app-solution-priority-association-dummy-select>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=1>
      <app-solution-priority-association-dummy-select [disabledParam]="industrySubSegment3DisableParam" [style.margin-right]="'32px'" [style.margin-left]="'32px'"
        [placeholder]="'INDUSTRY SEGMENT 3'" [options]="rowData['ALL SUB INDUSTRIES 3']" 
        (optionSelected)="onchangeEventRowData('INDUSTRY SEGMENT 3',$event)"></app-solution-priority-association-dummy-select>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]=1 [rowspan]=1>
      <mat-form-field class="custom-field" [style.margin-right]="'32px'" [style.margin-left]="'24px'" class="example-full-width">
        <input matInput type=number min=0 [placeholder]="'ORDER OF BUSINESS PRIORITY 1'" [value]="rowData['ORDER OF BUSINESS PRIORITY 1']" (change)="onchangeEventRowData('ORDER OF BUSINESS PRIORITY 1',$event.target.value)">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=1>
      <app-solution-priority-association-dummy-select [style.margin-right]="'32px'" [style.margin-left]="'32px'" [placeholder]="'BUSINESS PRIORITY 1'" [options]="rowData['ALL BUSINESS PRIORITY']"
        (optionSelected)="changeBusinessPriority1('BUSINESS PRIORITY 1',$event)"></app-solution-priority-association-dummy-select>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=1>
      <mat-form-field class="custom-field" [style.margin-right]="'32px'" [style.margin-left]="'32px'" class="example-full-width">
        <input matInput [placeholder]="'BUSINESS PRIORITY 1 ALTERNATIVE KEYWORDS'" [value]="rowData['BUSINESS PRIORITY 1 ALTERNATIVE KEYWORDS']"
          (change)="onchangeEventRowData('BUSINESS PRIORITY 1 ALTERNATIVE KEYWORDS',$event.target.value)">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]=1 [rowspan]=1>
      <mat-form-field [style.margin-right]="'32px'" [style.margin-left]="'32px'" class="example-full-width">
        <input matInput type=number min=0 [placeholder]="'ORDER OF BUSINESS PRIORITY 2'" [value]="rowData['ORDER OF BUSINESS PRIORITY 2']" (change)="onchangeEventRowData('ORDER OF BUSINESS PRIORITY 2',$event.target.value)">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=1>
      <app-solution-priority-association-dummy-select [disabledParam]="businessPrioritySubSegment2DisableParam" [style.margin-right]="'32px'" [style.margin-left]="'32px'"
        [placeholder]="'BUSINESS PRIORITY 2'" [options]="rowData['ALL SUB BUSINESS PRIORITIES 2']" 
        (optionSelected)="changeBusinessPriority2('BUSINESS PRIORITY 2',$event)"></app-solution-priority-association-dummy-select>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=1>
      <mat-form-field [style.margin-right]="'32px'" [style.margin-left]="'32px'" class="example-full-width">
        <input matInput [placeholder]="'BUSINESS PRIORITY 2 ALTERNATIVE KEYWORDS'" [value]="rowData['BUSINESS PRIORITY 2 ALTERNATIVE KEYWORDS']"
          (change)="onchangeEventRowData('BUSINESS PRIORITY 2 ALTERNATIVE KEYWORDS',$event.target.value)">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]=1 [rowspan]=1>
      <mat-form-field [style.margin-right]="'32px'" [style.margin-left]="'32px'" class="example-full-width">
        <input matInput type=number min=0 [placeholder]="'ORDER OF BUSINESS PRIORITY 3'" [value]="rowData['ORDER OF BUSINESS PRIORITY 3']" (change)="onchangeEventRowData('ORDER OF BUSINESS PRIORITY 3',$event.target.value)">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=1>
      <app-solution-priority-association-dummy-select [disabledParam]="businessPrioritySubSegment3DisableParam" [style.margin-right]="'32px'" [style.margin-left]="'32px'"
        [placeholder]="'BUSINESS PRIORITY 3'" [options]="rowData['ALL SUB BUSINESS PRIORITIES 3']" 
        (optionSelected)="onchangeEventRowData('BUSINESS PRIORITY 3',$event)"></app-solution-priority-association-dummy-select>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=1>
      <mat-form-field [style.margin-right]="'32px'" [style.margin-left]="'32px'" class="example-full-width">
        <input matInput [placeholder]="'BUSINESS PRIORITY 3 ALTERNATIVE KEYWORDS'" [value]="rowData['BUSINESS PRIORITY 3 ALTERNATIVE KEYWORDS']"
          (change)="onchangeEventRowData('BUSINESS PRIORITY 3 ALTERNATIVE KEYWORDS',$event.target.value)">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]=1 [rowspan]=1>
      <mat-form-field [style.margin-right]="'32px'" [style.margin-left]="'32px'" class="example-full-width">
        <input matInput type=number min=0 [placeholder]="'ORDER OF SOLUTION'" [value]="rowData['ORDER OF SOLUTION']" (change)="onchangeEventRowData('ORDER OF SOLUTION',$event.target.value)">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=1>
        <app-dynamic-select [style.margin-right]="'32px'" [style.margin-left]="'32px'" [placeholder]="'TECHNOLOGY FOR SOLUTION 1'" [options]="rowData['ALL TECHNOLOGIES']"
           (optionSelected)="onChangeOfTechnology('TECHNOLOGY 1',$event)"></app-dynamic-select>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=1>
    <app-dynamic-select [style.margin-right]="'32px'" [style.margin-left]="'32px'" [placeholder]="'TECHNOLOGY FOR SOLUTION 2'" [options]="rowData['ALL TECHNOLOGIES']"
    (optionSelected)="onChangeOfTechnology('TECHNOLOGY 2',$event)"></app-dynamic-select>
  <!-- <mat-form-field [style.margin-right]="'32px'" [style.margin-left]="'32px'" class="example-full-width">
    <input matInput type=number min=0 [placeholder]="'TECHNOLOGY FOR SOLUTION 2'" [value]="rowData['ALL TECHNOLOGIES']" (change)="onChangeOfTechnology('TECHNOLOGY 2',$event.target.value)">
  </mat-form-field> -->
</mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile [colspan]=1 [rowspan]=1>
      <app-dynamic-select [style.margin-right]="'32px'" [style.margin-left]="'32px'" [placeholder]="'TECHNOLOGY FOR SOLUTION 3'" [options]="rowData['ALL TECHNOLOGIES']"
      (optionSelected)="onChangeOfTechnology('TECHNOLOGY 3',$event)"></app-dynamic-select>
  </mat-grid-tile>
<mat-grid-tile [colspan]=1 [rowspan]=1>
    <app-dynamic-select [style.margin-right]="'32px'" [style.margin-left]="'32px'" [placeholder]="'TECHNOLOGY FOR SOLUTION 4'" [options]="rowData['ALL TECHNOLOGIES']"
    (optionSelected)="onChangeOfTechnology('TECHNOLOGY 4',$event)"></app-dynamic-select>
</mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]=4 [rowspan]=1>
      <app-solution-priority-association-dummy-select [widthStyle]="'900px'" [style.margin-right]="'32px'" [style.margin-left]="'16px'" [placeholder]="'SOLUTION 1'"
        [options]="rowData['ALL BUSINESS SOLUTION 1']"  (optionSelected)="onChangeOfSolutions('SOLUTION 1',$event)"></app-solution-priority-association-dummy-select>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=4 [rowspan]=1>
      <app-solution-priority-association-dummy-select [widthStyle]="'900px'" [style.margin-right]="'32px'" [style.margin-left]="'16px'" [placeholder]="'SOLUTION 2'"
        [options]="rowData['ALL BUSINESS SOLUTION 2']"  (optionSelected)="onChangeOfSolutions('SOLUTION 2',$event)"></app-solution-priority-association-dummy-select>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=4 [rowspan]=1>
      <app-solution-priority-association-dummy-select [widthStyle]="'900px'" [style.margin-right]="'32px'" [style.margin-left]="'16px'" [placeholder]="'SOLUTION 3'"
        [options]="rowData['ALL BUSINESS SOLUTION 3']" (optionSelected)="onChangeOfSolutions('SOLUTION 3',$event)"></app-solution-priority-association-dummy-select>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=4 [rowspan]=1>
      <app-solution-priority-association-dummy-select [widthStyle]="'900px'" [style.margin-right]="'32px'" [style.margin-left]="'16px'" [placeholder]="'SOLUTION 4'"
        [options]="rowData['ALL BUSINESS SOLUTION 4']"  (optionSelected)="onChangeOfSolutions('SOLUTION 4',$event)"></app-solution-priority-association-dummy-select>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile [colspan]=1 [rowspan]=1>
      <button mat-raised-button color=geprimary [style.margin-right]="'24px'" [style.margin-left]="'24px'" [mat-dialog-close]="rowData"
        cdkFocusInitial>Done</button>
      <button mat-raised-button color=gewarn [style.margin-right]="'24px'" [style.margin-left]="'24px'" (click)="onNoClick()">Cancel</button>
    </mat-grid-tile>
  </mat-grid-list>
</form>
