/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
@import '~@angular/material/prebuilt-themes/custom-ge.css';
/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */
@import '~bootstrap/dist/css/bootstrap.min.css';    

.demo-actions {
    margin-top: 24px;
  }
  
  .demo-track-by-select {
    display: flex;
    align-items: center;
  }
  
  .demo-track-by-label {
    margin-right: 8px;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    min-width: 30%;
    overflow: auto;
  }
  
  .mat-column-select {
    overflow: visible;
  }
  .mat-header-cell.mat-sort-header-sorted {
    color: black;
  }
  .mat-column-select {
    overflow: initial;
  }
  
  